* {
    margin: 0;
    padding: 0;
    color: #335576;
}

.card {
    background-color: #FEFAF5;
    width: 240px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 0.75rem;

    &__img {
        width: 100%;
        min-height: 10rem;
        background-position: center;
        background-size: cover;
        margin-bottom: 0.75rem;
        border-radius: 5px;
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.8rem;
    }

    &__title {
        text-align: center;
        font-size: 1.4rem;
    }

    &__price {
        text-align: center;
        font-size: 0.7rem;
        color: rgb(206, 127, 87);
    }

    &__description {
        text-align: center;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    &__link {
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        text-decoration: none;
        cursor: pointer;
        font-size: 0.8rem;
        margin-top: auto;
        margin-bottom: 1rem;
        padding: 0.6rem 0;
        border-radius: 5px;
        background-color: rgb(189, 220, 221);

        &:hover {
            background-color: rgb(206, 127, 87);
            color: white;
        }
    }
}